<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
        <a class="navbar-brand text-white" href="index.html">Meu Livro</a>
        <div>
            <a class="nav-link d-inline" href="doces.html">Doces</a>
            <a class="nav-link d-inline" href="panificacao.html">Panificação</a>
            <a class="nav-link d-inline" href="bebidas.html">Bebidas</a>
            <a class="nav-link d-inline" href="conversao.html">Conversão</a>
        </div>
    </div>
</nav>